<div class='container px-5 px-sm-0'>
 <div class='row'>
  <div class='col-md-3'>
   <h2 class="mt-3">見どころ投稿</h2>
   <%= render 'public/posts/form', post: @post %>
  </div>
  <div class='col-md-8 offset-md-1'>
   <h2>会員一覧</h2>
   <%= render 'index',customers: @customers %>
  </div>
 </div>
</div>