<div class="px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2 ml-5">
      <h2 class="info">会員情報</h2>
      <%= render "info", customer: @customer %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2 class="post">投稿した見どころ</h2>
      <%= render "public/posts/index",posts: @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>