<div class='row'>
  <% posts.each do |post| %>
    <div class='col-md-3 mt-5'>
      <div class='img_field'>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image, size: "150x150" %>
        <% end %>
      </div>
      <p class='castle'>
        <%= post.castle %>
      </p>
      <p class='body'>
        <%= post.body %>
      </p>
    </div>
  <% end %>
</div>