<div class="row">
  <% posts.each do |post| %>
    <div class="col-md-3 mr-4 mt-4">
      <div class="img_field">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image, size: "235x135", class: "image_contain" %>
        <% end %>
      </div>
      <p class="castle mt-2">
        城名: <%= post.castle %>
      </p>
      <p class="body text-truncate">
        感想<br>
        <%= post.body %>
      </p>
    </div>
  <% end %>
</div>