<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-1">
    <h2>フォロー一覧</h2>
    <%= render "public/customers/index", customers: @customers %>
    <%= paginate @customers %>
    </div>
  </div>
</div>