<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 px-sm-0 offset-sm-1" >
      <div class="about">
        <h1 class="about-title text-secondary">About</h1>
        <p class="about-comment text-secondary">
          ながのCakeは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひ、ご注文ください。
        </p>
        <div style="text-align: center; ">
          <%= image_tag "top_image6.jpeg", style: "width: 500px; height: 300px;" %>
        </div>
      </div>
    </div>
  </div>
</div>