<div class="container">
  <div class="row">
    <div class='mx-auto text-center'>
      <h1><strong>いざ、城攻め</strong></h1>
      <p>城が大好きな人、趣味を探している人、外出を考えている人</p>
      <p>みなさんで城を楽しみませんか？</p>
      <div class="btn-wrapper col-5 mx-auto">
        <div class="row">
          <%= link_to 'ロ グ イ ン',new_customer_session_path, class: "btn btn-outline-info btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to '新 規 登 録',new_customer_registration_path, class: "btn btn-outline-success btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>