<table class='table'>
  <tr><%= image_tag customer.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>会員名</th>
	  <th><%= customer.name %></th>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th><%= customer.introduction %></th>
  </tr>
</table>
<div>
  <%= link_to "退会", admin_customers_withdraw_path(@customer.id), method: :patch, data: {confirm: "本当に退会させますか？"}, class: "glyphicon glyphicon-tint btn-lg btn-danger ml-5" %>
</div>