<div class="profile_image text-center"><%= image_tag customer.get_profile_image, size:"200x200" %></div>
<table class="table mt-4 table" style="table-layout:fixed;width:100%;">
  <tr>
	  <th class="col-xs-2">会員名<br><%= customer.name %></th>
  </tr>
  <tr>
	  <th class="col-xs-3" style="word-wrap: break-word; width: 200px;">自己紹介<br><%= customer.introduction %></th>
  </tr>
  <tr>
    <th class="status col-xs-4">ステータス:</th>
    <% if @customer.is_deleted == false %>
      <th class="text-success font-weight-bold">有効</th>
    <% else %>
      <th class="text-muted font-weight-bold">退会</th>
    <% end %>
  </tr>
  <tr>
    <th><%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %></th>
  </tr>
</table>
