<div class="container px-5 px-sm-0">
  <div class="row" style="margin-top:25px;">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h4>投稿一覧</h4>
    </div>
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
    <%= render "index", posts: @posts %>
    <div class="mx-auto font-weight-bold" style="width:200px;">
      <%= paginate @posts %>
    </div>
    </div>
  </div>
</div>
