<div class="container">
  <h4 class="sub-title">通知</h4>
    <%= link_to destroy_all_notifications_path, method: :delete do %>
      <i class="fas fa-trash" style="color: black;"></i>
      <h7 style="color: black;">全削除</h7>
    <% end %>
    <hr>
  <% if @notifications.exists? %>
    <div class="customers-index">
      <%= render @notifications %>
    </div>
    <div><%= paginate @notifications %></div>
  <% else %>
    <p class="text">通知はありません</p>
  <% end %>
</div>